html {
    background-color: #000000;
}

#globeViz {
    transform: translate(-25%, 0px);
}

#globeViz2 {
    transform: translate(25%, 0px);
}

#globeViz3 {
    transform: translate(-25%, 0px);
}





